.orangeTopBorder{
    border-top: 0.5rem solid;
    border-color: #FF7100;
}
.greyBottomBorder{
    border-bottom: 0.1rem solid;
    border-color: #c5c5c5;
}
.greyBorder{
    border:1px solid #bbbaba;
}