.hidenButton{
    border: none;
    text-decoration: none;
   
}
.lightButton{
    text-decoration: none;
    background-color: white;
}
.boldButton{
    font-weight: bold;
}
.yad2Button{
    color: #FFFFFF;
    background-color: #FF7100;
}
.buttonSize-s{
    width: 1.5rem;
    height: 2rem;
}
.buttonSize-m{
    width: 3rem;
    height: 2rem;
}
.buttonSize-l{
    width: 6rem;
    height: 3rem;
}
.buttonSize-xl{
    width: 10rem;
    height: 2rem;
}