.customInput-s{
    width: 4rem;
    height: 2rem;
    margin-left: 0.5rem;
}
.customInput-m{
    width: 8rem;
    height: 2rem;
    margin-left: 0.5rem;
}
.customInput-l{
    width: 12rem;
    height: 2rem;
    margin-left: 0.5rem;
}
.customInput-xl{
    width: 16rem;
    height: 2rem;
    margin-left: 0.5rem;
}