.searchBarContainer{
    align-items: baseline;
}
.searchBarAdvanceSearchContainer{
  
    border: 0.1rem solid #f0eded;
    display: flex;
    flex-direction: column;
}
.searchBarContainer-box{
    margin-bottom: 5rem;
    padding: 1rem;
}